## Ejercicio 1
Dada la siguiente lista:
> ```ejer_1 = [1,2,3,4,5]```

Inviertela par que quede de la siguiente manera
> ```ejer_1 = [5,4,3,2,1]```

In [6]:
ejer_1 = [1,2,3,4,5]
ejer_1

[1, 2, 3, 4, 5]

In [9]:
ejer_1.reverse()
ejer_1

[5, 4, 3, 2, 1]

## Ejercicio 2
Eleva todos los elementos de la lista al cuadrado
> ```ejer_2 = [1,2,3,4,5]```

In [31]:
ejer_2 = [1,2,3,4,5]

#for i,num in enumerate(ejer_2):
    #ejer_2[i] = num**2

for i,num in enumerate(ejer_2):
    ejer_2[i] = pow(num,2)

print(ejer_2)

[1, 4, 9, 16, 25]

In [34]:
ejer_2 = [1,2,3,4,5]
sq_list = [pow(num,2) for num in ejer_2]
sq_list

[1, 4, 9, 16, 25]

## Ejercicio 3
Crea una lista nueva con todas las combinaciones de las siguientes os listas:
> ```ejer_3_1 = ["Hola", "amigo"]```
>
> ```ejer_3_2 = ["Que", "tal"]```

Obten el siguiente output:

['Hola Que', 'Hola tal', 'amigo Que', 'amigo tal']

In [39]:
ejer_3_1 = ["Hola", "amigo"]

ejer_3_2 = ["Que", "tal"]

for n in ejer_3_1:
    for m in ejer_3_2:
        print([n,m])

['Hola', 'Que']
['Hola', 'tal']
['amigo', 'Que']
['amigo', 'tal']

In [40]:
[n+" "+m for n in ejer_3_1 for m in ejer_3_2]

['Hola Que', 'Hola tal', 'amigo Que', 'amigo tal']

## Ejercicio 4
Dada la siguiente lista, encuentra el valor 45, sustituyelo por el 0
> ```ejer_4 = [20, 47, 19, 29, 45, 67, 78, 90]```

In [18]:
ejer_4 = [20, 47, 19, 29, 45, 67, 78, 90]
ejer_4

[20, 47, 19, 29, 45, 67, 78, 90]

In [17]:
value = 45
for i,n in enumerate(ejer_4):
    if n == 45:
        ejer_4[i] = 0

ejer_4

[20, 47, 19, 29, 0, 67, 78, 90]

In [42]:
ejer_4 = [20, 47, 19, 29, 45, 67, 78, 90]
value = 45
index_45 = ejer_4.index(value)
ejer_4[index_45] = 0
ejer_4

[20, 47, 19, 29, 0, 67, 78, 90]

In [ ]:
ejer_4 = [20, 47, 19, 29, 45, 67, 78, 90]

for num in ejer_4:

## Ejercicio 5
Dada la siguiente lista, elimina todos los valores iguales a 3
> ```ejer_5 = [3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3]```

In [43]:
ejer_5 = [3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3]

copy_list = ejer_5.copy()

for n in copy_list:
    if n == 3:
        ejer_5.remove(n)

ejer_5

[20, 47, 19, 29, 45, 67, 78, 90]

In [ ]:
ejer_5 = [3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3]

for n in ejer_5

## Ejercicio 6
1. Crea una tupla con 3 elementos
2. Crea otra tupla con un elemento y comprueba su tipo
3. Crea una tupla con elementos de diferentes tipos
4. Imprime por pantalla el primer y ultimo elemento de la tupla del apartado 3. Usa `len` para el ultimo
5. Añade un elemento a la tupla del apartado 3.
6. Eliminar un elemento de la tupla del apartado 5, que se encuentre más o menos en la mitad.
7. Convierte la tupla del apartado 5 en una lista

In [46]:
tpl_1 = (1,4,7)
tpl_2 =("rojo",)

print(type(tpl_1))
type (tpl_2)

<class 'tuple'>

tuple

In [81]:
tpl_3 = (1,"jojo",True)
tpl_3[len(tpl_3)-1]

True

In [52]:
tpl_3[0]

1

In [73]:
#Añadir elemento a la tupla
list_3 = list(tpl_3)
list_3.append(90.90)
list_3

[1, 'jojo', True, 90.9]

In [82]:
tuple(list_3)

(1, 'jojo', True, 90.9)

In [88]:
#Otra variante del punto 5 del ejercicio
tlp_4 =(90.90,)
tlp_4
tlp_5 = tpl_3 + tlp_4
tlp_5

(1, 'jojo', True, 90.9)

In [ ]:
#Apartado 6

## Ejercicio 7
Concatena todos los elementos de la tupla en un unico string. Para ello utiliza el metodo `.join()` de los Strings
> ```ejer_7 = ("cien", "cañones", "por", "banda")```

Resultado: `cien cañones por banda`

In [89]:
ejer_7 = ("cien", "cañones", "por", "banda")

print(" ".join(ejer_7))

cien cañones por banda

## Ejercicio 8
Obten el tercer elemento de la siguiente tupla, y el tercero empezando por la cola
> ```ejer_8 = (3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3)```

In [91]:
ejer_8 = (3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3)

(ejer_8[2],ejer_8[-3]

(3, 90)

## Ejercicio 9
1. ¿Cuántas veces se repite el 3 en la siguiente tupla?
2. Crea una tupla nueva con los elementos desde la posicion 5 a la 10.
3. ¿Cuántos elementos tiene la tupla `ejer_9`?
> ```ejer_9 = (3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3, 5, 2, 4, 7, 9, 4, 2, 4, 3, 3, 4, 6, 7)```

In [93]:
#Apartado 1
acum = 0
ejer_9 = (3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3, 5, 2, 4, 7, 9, 4, 2, 4, 3, 3, 4, 6, 7)

for n in ejer_9:
    if n == 3:
        acum += 1
acum

7

In [96]:
ejer_9.count(3)

7

In [100]:
#Apartado: Crea una tupla nueva con los elementos desde la posicion 5 a la 10.
ejer_9_2 = ejer_9[4:11]
ejer_9_2

(19, 3, 29, 45, 67, 78, 90)

In [102]:
# 3.- ¿Cuántos elementos tiene la tupla ejer_9?
len(ejer_9)

26

## Ejercicio 10
Comprueba si el numero 60 esta en la tupla del ejercicio 9

In [103]:
60 in (ejer_9)

False

## Ejercicio 11
1. Convierte la tupla del apartado 10 en una lista
2. Convierte la tupla del apartado 10 en un set
3. Convierte la tupla del apartado 10 en un diccionario. Usa también los indices

In [109]:
#1.-Convierte la tupla del apartado 10 en una lista
print(list(ejer_9))
print(type(list(ejer_9)))

[3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3, 5, 2, 4, 7, 9, 4, 2, 4, 3, 3, 4, 6, 7]
<class 'list'>

In [111]:
#2.- Convierte la tupla del apartado 10 en un set
set(ejer_9)

{2, 3, 4, 5, 6, 7, 9, 19, 20, 29, 45, 47, 67, 78, 90}

In [116]:
#3.- Convierte la tupla del apartado 10 en un diccionario. Usa también los indices
ejer_11_dict = {}

for i, num in enumerate(ejer_9):
    ejer_11_dict[i] = num
    
print(ejer_11_dict)

{0: 3, 1: 20, 2: 3, 3: 47, 4: 19, 5: 3, 6: 29, 7: 45, 8: 67, 9: 78, 10: 90, 11: 3, 12: 3, 13: 5, 14: 2, 15: 4, 16: 7, 17: 9, 18: 4, 19: 2, 20: 4, 21: 3, 22: 3, 23: 4, 24: 6, 25: 7}

## Ejercicio 12
Convierte la siguiente tupla en un diccionario
> ```ejer_12 = [("x", 1), ("x", 2), ("x", 3), ("y", 1), ("y", 2), ("z", 1)]```

In [122]:
ejer_12 = [("x", 1), ("x", 2), ("x", 3), ("y", 1), ("y", 2), ("z", 1)]


ejer_12_dict = {}
for i,elem in ejer_12:
    ejer_12_dict[i] = elem
    
print(ejer_12_dict)

{'x': 3, 'y': 2, 'z': 1}

In [123]:
dict(ejer_12)

{'x': 3, 'y': 2, 'z': 1}

## Ejercicio 13
1. Crea una lista ordenada ascendente con las claves del diccionario
2. Crea otra lista ordenada descendente con los valores
3. Añade una nueva clave/valor
4. Busca la clave 2 dentro del diccionario
5. Itera la clave y el valor del diccionario con un unico for
> ```ejer_13 = {4:78, 2:98, 8:234, 5:29}```

In [134]:
#1.-Crea una lista ordenada ascendente con las claves del diccionario
ejer_13 = {4:78, 2:98, 8:234, 5:29}

list_13 = list(ejer_13.keys())
sorted(list_13)

[2, 4, 5, 8]

In [136]:
sorted(list_13, reverse = True)

[8, 5, 4, 2]

In [139]:
ejer_13[11] = 67
ejer_13

{4: 78, 2: 98, 8: 234, 5: 29, 11: 67}

In [141]:
2 in ejer_13.keys()

True

In [146]:
for key, value in ejer_13.items():
    print(f"Clave: {key} - Valor {value}.")

Clave: 4 - Valor 78.
Clave: 2 - Valor 98.
Clave: 8 - Valor 234.
Clave: 5 - Valor 29.
Clave: 11 - Valor 67.

## Ejercicio 14
Junta ambos diccionarios. Para ello, utiliza `update
> ```ejer_14_1 = {1: 11, 2: 22}```
>
> ```ejer_14_2 = {3: 33, 4: 44}```

In [150]:
ejer_14_1 = {1: 11, 2: 22}
ejer_14_2 = {3: 33, 4: 44}

ejer_14_1.update(ejer_14_2)
ejer_14_1

{1: 11, 2: 22, 3: 33, 4: 44}

## Ejercicio 15
Suma todos los valores del dicionario
> ```ejer_15 = {1: 11, 2: 22, 3: 33, 4: 44, 5: 55}```

In [151]:
ejer_15 = {1: 11, 2: 22, 3: 33, 4: 44, 5: 55}
sum(ejer_15.values())

165

## Ejercicio 16
Multiplica todos los valores del diccionario
> ```ejer_16 = {1: 11, 2: 22, 3: 33, 4: 44, 5: 55}```

In [153]:
ejer_16 = {1: 11, 2: 22, 3: 33, 4: 44, 5: 55}

result = 1

for i in ejer_16.values():
    result *= i
result

19326120

## Ejercicio 17
1. Crea un set de tres elementos
2. Añade un cuarto
3. Elimina el utlimo elemento añadido
4. Elimina el elemento 10, si está presenta. Usa `discard()`

In [159]:
#1.- Crea un set de tres elementos
ejer_17_1 = {1,4,7}

In [160]:
# 2.- Añade un cuarto
ejer_17_1.add(11)

In [161]:
#3.-Elimina el utlimo elemento añadido
ejer_17_1.discard(11)

In [162]:
ejer_17_1

{1, 4, 7}

In [164]:
ejer_17_1.discard(10)