In [12]:
from clases import Estacion, ComunidadMadrid
import pandas as pd
from funciones import dist_estaciones

df = pd.read_excel("2018_Julio_Bases_Bicimad_EMT.xlsx")


tot_est = []
for index, row in df.iterrows():
    estacion = Estacion(row[0], row[3], row[1], row[6], row[4], row[5])
    tot_est.append(estacion)

comunidad = ComunidadMadrid(tot_est)

while True:
    
    resp_usu1 = input("Escoge una opcion: \n1. Busca estacion \n2. Calcula distancia \n3. Salir del programa ")
    
    try:
        resp_usu1 = int(resp_usu1)
    except:
        print("Respuesta no válida, Por favor, introduce 1, 2 o 3\n")
        continue
    
    if resp_usu1 == 3:
        print("¡Hasta la próxima!\n")
        break
        
    elif resp_usu1 == 1:
        resp_usu2 = input("Muy bien, introduce el nombre de la estación")
        busqueda = comunidad.busca_estacion(resp_usu2, "name")
        
        if busqueda == None:
            print("Esta estación no está en la base de datos")
        else:
            print("¡Estación encontrada! La estación es", busqueda.name,"\n\n¿Qué más deseas hacer?")
            
    elif resp_usu1 == 2:
        resp_usu3_1 = int(input("Introduce el identificador de la primera estación "))
        resp_usu3_2 = int(input("Introduce el identificador de la segunda estación "))
        
        distancia = dist_estaciones(resp_usu3_1, resp_usu3_2, comunidad)
        
        if type(distancia) == str:
            print(distancia)
        else:
            print("Las estaciones están a una distancia de", round(distancia, 2), "km")

Escoge una opcion:
1. Busca estacion
2. Calcula distancia
3. Salir del programa  2
Introduce el identificador de la primera estación  153
Introduce el identificador de la segunda estación  138

Las estaciones están a una distancia de 1.86 km

Escoge una opcion:
1. Busca estacion
2. Calcula distancia
3. Salir del programa  2
Introduce el identificador de la primera estación  153
Introduce el identificador de la segunda estación  10000

Alguna de las estaciones no está en la base de datos

Escoge una opcion:
1. Busca estacion
2. Calcula distancia
3. Salir del programa  1
Muy bien, introduce el nombre de la estación atocha

¡Estación encontrada! La estación es Atocha A

¿Qué más deseas hacer?

Escoge una opcion:
1. Busca estacion
2. Calcula distancia
3. Salir del programa  3

¡Hasta la próxima!

In [13]:
df.head()

,name,total_bases,number,id,longitude,latitude,address
0,Agustín de Betancourt,24,134,153,-3.695605,40.444030,Calle María de Guzmán nº 58
1,Alberto Alcocer,24,158,138,-3.684715,40.458532,Avenida de Alberto Alcocer nº 22
2,Alcalá,27,97,102,-3.680131,40.422691,Avenida de Menéndez Pelayo nº 3
3,Alcántara,24,99,104,-3.673871,40.426185,Calle Alcántara nº 2
4,Almadén,24,67,71,-3.693225,40.410847,Calle Almadén nº 28

In [18]:
tot_est = []
for index, row in df.iterrows():
    estacion = Estacion(row[0], row[3], row[1], row[6], row[4], row[5])
    tot_est.append(estacion)

In [19]:
len(tot_est)

172

In [20]:
tot_est[0]

In [21]:
tot_est[0].name

'Agustín de Betancourt'